/dts-v1/;

#include "fbsd-rt2880.dtsi"

/ {
	compatible = "MZK-W300NAG", "ralink,rt2880-soc";
	model = "Planex MZK-W300NAG";

	memory@0 {
		device_type = "memory";
		reg = <0x08000000 0x1000000>;
	};

	cfi@1f000000 {
		compatible = "cfi-flash";
		reg = <0x1f000000 0x800000>;
		bank-width = <2>;
		device-width = <2>;
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "Bootloader";
			reg = <0x0 0x30000>;
			read-only;
		};

		devdata: partition@30000 {
			label = "Config";
			reg = <0x00030000 0x00010000>;
			read-only;
		};

		factory: partition@40000 {
			label = "Factory";
			reg = <0x00040000 0x00010000>;
			read-only;
		};
/*
		kernel: partition@50000 {
			label = "kernel";
			reg = <0x00050000 0x000f0000>;
			read-only;
		};
		rootfs: partition@160000 {
			label = "rootfs";
			reg = <0x00140000 0x002a0000>;
			read-only;
		};
*/
		firmware: partition@50000 {
			label = "firmware";
			reg = <0x00050000 0x00390000>;
			read-only;
		};
		cimage: partition@3e0000 {
			label = "Cimage";
			reg = <0x003e0000 0x00020000>;
			read-only;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";

		status {
			label = "status";
			gpios = <&gpio0 12 0>;
		};

	};
	gpio-keys-polled {
		compatible = "gpio-keys-polled";
		#address-cells = <1>;
		#size-cells = <0>;
		poll-interval = <20>;

		reset {
			label = "reset";
			gpios = <&gpio0 10 1>;
			linux,code = <0x198>;
		};

	};

	gpioiic {
		compatible = "gpioiic";
		gpios = <&gpio0 23 0
			&gpio0 22 0>;
		gpio-names = "scl", "sda";
	};

	rtl8366rb {
		compatible = "realtek,rtl8366rb";
	};

};

&ethernet {
	mtd-mac-address = <&factory 0x28>;
	port-mode = "gigasw";
};

&wmac {
	ralink,mtd-eeprom = <&factory 0>;
};

&i2c {
	status = "okay";
	rtc8583 {
		status = "okay";
		compatible = "epson,rtc8583";
		reg = <0x50>;
	};
};

